@model HomeUITeamViewModels

<div class="item">
    <div class="team_img">
        <div class="profile-pic"><img src="@Model.ImagePath" alt="@Model.ImageName"></div>
        <div class="member_info">
            <h5 class="member-name">@Model.Name</h5>
        </div>
    </div>
</div>